
.fondo {
    background-color: black;
}



.fila-tablero{
    height: 23vh;
    
    margin-top: 3px;
   

}

.columna {

    margin-right: 3px;
}

.info {

    height: 10vh;
    background-color:   #e0d310  ;
}


.rojo {

    background-color: red;
}

.azul {
    background-color: blue;
}

.gris{

    background-color:grey;


}

.verde {
    background-color: green;
}

.amarillo{

    background-color: yellow;
}

.violeta{

    background-color: violet;
}