.info{

    margin: 3px;

    border: 2px solid red;

    background-color: royalblue;
    
}

.cartas {

    margin: 50px;
    display: block;
    cursor: pointer;
}


.rojo{

    background-color: red;
}

.azul {
    background-color: blue;
}

.negro {
    background-color: black;
}

.amarillo{
    background-color: yellow;
}

.verde{
    background-color: green;
}

.negro {

    background-color: black;
}

.celeste {

    background-color: lightblue;
}

.dorso {

    background-color: gray;
}

.carta{

    display: none;
    
}