
.fondo {
    background-color: black;
}

.fondo2 {
    background-color: red;
}


.prueba{
    height: 23vh;
    
    margin-top: 3px;
   

}

.columna {

    margin-right: 3px;
}

.info {

    height: 10vh;
    background-color:   #e0d310  ;
}